<!-- <div class="bg"></div>
<div class="jumbotron">
<h1 class="display-3">Jumbotron heading</h1>
<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div> -->


<div class="row">
  <div class="col-sm-3 sidebar"></div>
  </div>
  <div class="welcome">
    <div class="row">


    <!-- <h1>hey there.</h1> -->
    <div class="col-md-4">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 485.404" enable-background="new 0 0 500 485.404" xml:space="preserve" >
        <g>
          <path fill="#77b800" d="M255.024,79.919c-5.276-3.928-12.494-3.853-17.685,0.201L67.873,208.952c-3.6,2.785-5.679,7.08-5.679,11.61
          v249.937c0,8.096,6.563,14.652,14.659,14.652c0.132,0,0.189-0.068,0.258-0.068c0.414,0.022,0.804,0.252,1.264,0.252h218.276
          c0.482,0,0.873-0.229,1.332-0.252c0.482,0.068,0.942,0.321,1.471,0.321c8.096,0,14.676-6.592,14.676-14.676v-32.567
          c0.493,0.046,0.873,0.276,1.354,0.276l107.589-0.918c6.327-0.035,11.563-4.18,13.539-9.818c0.78-1.757,1.193-3.698,1.193-5.719
          V220.562c0-4.645-2.204-8.998-5.925-11.793L255.024,79.919z M128.534,238.241c0-14.814,6.092-28.714,17.064-39.084
          c10.777-10.203,25.103-15.818,40.25-15.818c31.562,0,57.296,24.643,57.296,54.902l0.316,0.115v112.348
          c0,7.717-6.305,14.021-14.016,14.021h-87.269c-7.769,0-14.056-6.304-14.056-14.021L128.534,238.241z M133.592,389.265h103.035
          c5.529,0,10.025,5.673,10.025,12.747c0,7.016-4.496,12.678-10.025,12.678H133.592c-5.546,0-10.042-5.662-10.042-12.678
          C123.55,394.938,128.046,389.265,133.592,389.265z M265.68,461.863H109.724c-5.374,0-9.772-5.65-9.772-12.678
          c0-7.017,4.398-12.701,9.772-12.701H265.68c5.421,0,9.762,5.684,9.762,12.701C275.442,456.213,271.101,461.863,265.68,461.863z
          M335.155,310.856c-31.774,0-57.589-25.815-57.589-57.544c0-31.751,25.814-57.566,57.589-57.566
          c31.729,0,57.532,25.815,57.532,57.566C392.687,285.041,366.884,310.856,335.155,310.856z M500,199.341
          c0,3.008-0.919,6.074-2.837,8.67c-4.788,6.517-13.998,7.935-20.486,3.123L266.37,56.28v-7.424c0-10.749-8.756-19.545-19.516-19.545
          c-10.8,0-19.539,8.796-19.539,19.545v7.309L23.512,210.99c-6.448,4.927-15.646,3.669-20.532-2.796
          C0.947,205.576,0,202.424,0,199.341c0-4.427,1.975-8.813,5.788-11.69c0,0,40.674-30.879,84.736-64.422V35.73
          c0-8.079,6.562-14.642,14.658-14.642h39.475c8.09,0,14.653,6.563,14.653,14.642v35.248c21.997-16.691,38.217-29.059,40.393-30.707
          C203.9,17.563,222.957,0,246.854,0c23.823,0,42.828,17.518,47.065,40.175c8.062,5.942,200.121,147.344,200.121,147.344
          C497.933,190.412,500,194.828,500,199.341z" class="color color-1" data-color="#77B800"></path>
        </g>
      </svg>

    </div>
      <div class="col-md-6">
        <h1 class="homegrown">Homegrown </h1>
        <hr>
        <h3 class="prop">Properties</h3>
        <h3 class="tagline">Helping growers plant their roots</h3>
      </div>
      </div>
      <div class="row button">
        <div class="col-md-offset-6 col-md-6">
          <button type="button" class="btn btn-primary"> <a href="/about">Learn More</a></button>

        </div>
      </div>


  </div>







<!-- <i class="fa fa-home" aria-hidden="true"></i> -->
