<div class="row">
  <div class="col-md-4">
    <p class="lead">
      <!-- <img alt="Panel1" class="img-responsive" <%= image_tag('2611.png') %> -->
      <i class="fa fa-thumbs-up fa-5x" aria-hidden="true"></i>

    </p>
    <!-- <div class="panel panel-primary">
      <div class="panel-heading">Tasks</div>
      <div class="panel-body home-panel">
        <p>Grouped by projects and lists, just the way you like'em</p>
      </div>
    </div> -->
    <div class="box">
      <h2>
        Special circumstances lending
      </h2>
      <p>
        Helping clients achieve their goal of home ownership by overcoming the barriers of traditional lending services.
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <p class="lead">
      <!-- <img alt="Panel2" class="img-responsive" <%= image_tag('1f3e0.png') %> -->
      <i class="fa fa-home fa-5x" aria-hidden="true"></i>
    </p>
    <!-- <div class="panel panel-primary">
      <div class="panel-heading">Documents</div>
      <div class="panel-body home-panel">
        <ul>
          <li>Upload</li>
          <li>Comment</li>
          <li>Revise</li>
        </ul>
      </div>
    </div> -->
    <div class="box">
      <h2>
        Finding your ideal <br>home
      </h2>
      <p>
        Helping clients explore the market to find properties that suit their specific needs.
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <p class="lead">
      <!-- <img alt="Panel3" class="img-responsive" <%= image_tag('1f4cb.png') %> -->
      <i class="fa fa-check-square-o fa-5x" aria-hidden="true"></i>
    </p>
    <!-- <div class="panel panel-primary">
      <div class="panel-heading">Comments</div>
      <div class="panel-body home-panel">
        <ul>
          <li>Comment on tasks and documents</li>
          <li>Get email notifications</li>
        </ul>
      </div>
    </div> -->
    <div class="box">
      <h2>
        Keeping the deal on track
      </h2>
      <p>
        Helping clients expertly navigate the home-buying process by providing expert advice and experience in ensuring deals get to the closing table. 
      </p>
    </div>
  </div>
</div>
